@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

body {
    background-color: #fffffe;
    color: #2b2c34;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* start nav bar */
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #f8f9fa;
    list-style-type: none;
    border-bottom: 1px solid #02315f;
    margin: 0 2%;

    div li a {
        text-decoration: none;
        color: #343a40;
        font-weight: 500;
        align-items: center;
    }

    div li a:hover {
        color: #8a3fa8;
    }

    .left-links {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .right-links {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

.first-section {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5%;

    .personal-image {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    h4 {
        font-size: 1.1rem;
        color: #02315f;
        margin: 10px 0;
        font-weight: 200;
    }

    h2 {
        font-size: 2.4rem;
        color: #000000;
        margin: 10px 0;
        font-weight: 900;
    }

    button {
        background-color: #8a3fa8;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;
        margin: 0 auto;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #6f2c7f;
    }

    h6 {
        font-weight: 100;
        font-size: small;
        color: #8a3fa8
    }
}

.sec-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;

    h3 {
        font-size: 1.5rem;
        color: #00060c;
        margin-bottom: 20px;
        font-weight: 700;
    }

}



.third-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .component {
        display: flex;
        align-items: start;
        text-align: left;
        border: 0.5px solid #5c5c5cad;
        border-radius: 10px;
        padding: 2%;
        flex-direction: column;

    }

    .component:hover {
        background-color: #ac95d6;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        scale: 1.02;
    }
}

@media (max-width: 300px) {


    /* start main */


    .third-section {
        flex-direction: column;
        gap: 20px;

        .component {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 5%;
            margin: 20px;

            flex-direction: column;
        }

    }

}

@media (min-width: 600px) {
    .third-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

        .component {
            width: 25%;
            padding: 3%;

            flex-direction: column;

        }

    }
}